body{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background: rgb(90,131,174);
background: linear-gradient(90deg, rgba(90,131,174,1) 0%, rgba(52,69,156,1) 100%);
}

.name{
  color: white;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}

.is-name{
  color: white;
  font-size: 20px;
  text-align: center;
}

.body{
  margin-top: 10px;
}

.question-container{
  background-color: #ffffffa0;
  height: 600px;
  width: 800px;
  margin: 0 auto;
  border-radius: 8px; 
}
.list-container{
  margin-top: 20px;
}

.qimage{
  background-position: center;
  background-size:cover;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  margin-top: 12px;
}

.question{
  font-size: 20px;
  font-weight: 400;
}

.question1{
  font-size: 20px;
  font-weight: 200;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;


}
.list{
  width: 500px;
  background-color: white;
  cursor: pointer;
  margin: 0 auto;
  padding: 4px;
}

.list:hover {
  background-color: #f2f2f2; /* измените цвет на ваш выбор */
  
}

.button {
  width: 400px;
  background-color: white;
  border-radius: 4px;
  font-size: 24px;
  padding: 4px;
  cursor: pointer;
  margin-top: 4px;
}

.button:hover {
  background-color: #f2f2f2; /* измените цвет на ваш выбор */
}

.cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restart{
  margin-left: 310px;
  color: #ff3333;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  text-decoration: underline;
}